<h1>Listing atendees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Attendance</th>
      <th>Comment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @atendees.each do |atendee| %>
      <tr>
        <td><%= atendee.name %></td>
        <td><%= atendee.attendance %></td>
        <td><%= atendee.comment %></td>
        <td><%= link_to 'Show', atendee %></td>
        <td><%= link_to 'Edit', edit_atendee_path(atendee) %></td>
        <td><%= link_to 'Destroy', atendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atendee', new_atendee_path %>
