<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @atendee.name %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @atendee.attendance %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @atendee.comment %>
</p>

<%= link_to 'Edit', edit_atendee_path(@atendee) %> |
<%= link_to 'Back', atendees_path %>
