<div class="container center">

  <h1><%= EVENT_TITLE %></h1>

  <p id="notice">
    <% if (notice) %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th><%= EVENT_DATE %></th>
        <th>Comment</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @attendees.each do |attendee| %>
        <tr>
          <td><%= attendee.name %></td>
          <td><%= attendee.attendance %></td>
          <td><%= attendee.comment %></td>
          <td><%= link_to 'Edit', edit_attendee_path(attendee), class:"btn btn-small" %></td>
          <td><%= link_to 'Delete', attendee, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-small" %></td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <th></th>
        <th>
          ○<%= count(@attendees, "○") %>,
          △<%= count(@attendees, "△") %>,
          ×<%= count(@attendees, "×") %>
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
  </table>

  <br>

  <%= link_to 'New Attendee', new_attendee_path, class:"btn btn-large btn-primary" %>

</div>