<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attendee.name %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @attendee.attendance %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @attendee.comment %>
</p>

<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
